In [11]:
ages = [19,22,19,24,20,25,26,24,25,24]
ages.sort() #sorting the list
sum=0
print(ages)
print(min(ages))
print(max(ages))
n=len(ages) #length of the list ages
print("Length=",n)
if n%2==0:
    median1=ages[n//2-1]
    median2=ages[n//2]
    median = (median1+median2)/2 #formula for finding median
else:
    median = ages[n//2]
print("median is: "+ str(median))
for i in range(len(ages)):
    sum = sum + ages[i]
average=sum/n
print("Average=",average)
print(max(ages) - min(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
Length= 10
median is: 24.0
Average= 22.8
7

In [4]:
dog = {} #empty dictionary 
dog = {'Name', 'Color', 'Breed', 'Legs', 'Age'}
print(dog)
student = {'first_name':'Hareesh', 'last_name':'Muppu', 'gender':'Male', 'age':'25', 'marital status':'Single','skills':'Reading', 'country':'India', 'city':'Hyderabad', 'address':'KPHB'}
print(len(student))
print(student['skills'])
print(type(student['skills']))
student['skills']='cycling','music' #adding skills to the student
keys = print(student.keys()) #printing keys
values = print(student.values()) #printing values

{'Name', 'Breed', 'Legs', 'Age', 'Color'}
9
Reading
<class 'str'>
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
dict_values(['Hareesh', 'Muppu', 'Male', '25', 'Single', ('cycling', 'music'), 'India', 'Hyderabad', 'KPHB'])

In [3]:
brothers = ('raja','aditya')
sisters = ('hari','satvi')
siblings = (brothers + sisters) #combining both brothers and sisters
print(len(siblings))
fammembers = list(siblings)
fammembers[2] = 'srinu' 
fammembers[3] = 'sarada' #changing siblings
family_members = tuple(fammembers) #storing values into tuple
print(family_members)

4
('raja', 'aditya', 'srinu', 'sarada')

In [4]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} #set of it companies
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24] #list of age
print(len(it_companies))
it_companies.add('Twitter') #adding into the set
it_companies.update(['TCS','Cognizant','Wipro']) #updating the set
it_companies.remove('Oracle') #removing from set
print(it_companies)
print(A.union(B))
print(A.intersection(B))
print(A.issubset(B))
print(A.isdisjoint(B))
print(A.union(B))
print(B.union(A))
print(A.symmetric_difference(B))
del A
del B
ages=set(age) #converting list into set
print(len(ages),len(age))
print(len(ages)<=len(age))
print(ages)
print(age)

7
{'Amazon', 'TCS', 'Wipro', 'Facebook', 'Microsoft', 'Cognizant', 'Twitter', 'Google', 'IBM', 'Apple'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
5 8
True
{19, 22, 24, 25, 26}
[22, 19, 24, 25, 26, 24, 25, 24]

In [5]:
radius = 30
area_of_circle = 3.14 * radius ** 2 #formula for area of circle
print(area_of_circle)
_circum_of_circle_ = 2 * 3.14 * radius #formula for circumference of circle
print(_circum_of_circle_)
val = int(input()) #input value from user
areaofthecircle = 3.14 * val ** 2
print(areaofthecircle)

2826.0
188.4
6
113.04

In [8]:
sentence = "I am a teacher and I love to inspire and teach people"
newtext = sentence.split(" ") #spliting the given sentence
print(len(set(newtext)))

10

In [7]:
print('Name\tAge\tCountry\tCity')
print('Asabeneh\t250\tFinland\tHelsinki')

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [9]:
radius = 10
area_of_circle = 3.14 * radius ** 2
print('The area of a circle with radius',radius,'is',area_of_circle,'meters square.') #printing in required format

The area of a circle with radius 10 is 314.0 meters square.

In [2]:
A=[] 
B=[]
lbs = 0.453592 
N=int(input('enter the number of students ')) #take the input from the user
for i in range(N): #looping through the list of students
    A.append(int(input('enter the weight of the each student '))) #appending the weights to the list
for i in range(N):
    B.append(round(lbs*A[i],2)) #converting the weights to list and appending to list B
print(B) #printing the list B

enter the number of students 2
enter the weight of the each student 60
enter the weight of the each student 50
[27.22, 22.68]